body {
  max-width: 1000px;
  margin: auto;
}

th {
  text-align: center;
}

.grade-container {
  text-align: right;
  padding: 1rem;
}

.form-container {
  padding: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.add-button {
  margin-right: 10px;
}
